*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('https://i.pinimg.com/originals/19/1b/6d/191b6d669f008bfaf3950dd3e71ec2ca.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  font-family: 'Roboto', sans-serif;
}
#team1,
#team2{
  display: inline-block;
  width: 49%;
  text-align: center;
  height: 100vh;
  padding: 15% 0;
}
#team1 .container,
#team2 .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams img{
  height: 400px;
}
.teams h2{
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  padding: 20px;
}
.prev a i,
.next a i{
  color: white;
  padding: 0 20px;
}
#team1 .fa-circle,
#team2 .fa-circle{
  color: white;
  margin-right: 10px;
}
#team1 .fa-circle.active,
#team2 .fa-circle.active{
  color: green;
}
