<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Esercizio Vue</title>
</head>
<body>
  <div id="root">
    <h1>Benvenuto {{nome}} {{cognome}}</h1>
    <input v-model="nome" placeholder="Inserisci il tuo nome">
    <input v-model="cognome" placeholder="Inserisci il tuo cognome">
  </div>
  <!-- javascript -->
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
